{% load static %}
<header class="navbar-light navbar-sticky bg-opacity-12" 
        style=" background-color: #102f3f; border-bottom: 1px solid #255366;">
  
  <nav class="navbar navbar-expand-lg" style="padding-top: 0.4rem; padding-bottom: 0.4rem;">
    <div class="container">

      <!-- Logo START -->
      <a class="navbar-brand me-0" href="/" style="display:flex; align-items:center;">
        <img class="light-mode-item navbar-brand-item" 
             src="{% static 'assets/images/img/logoEasyDateBlanco.png' %}" 
             alt="logo" 
             style="width: 7rem; height: 3rem;">
		<img class="dark-mode-item navbar-brand-item" src="{% static 'assets/images/img/logoEasyDateBlanco.png' %}" alt="logo"> </a>
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-animation">
          <span></span><span></span><span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav navbar-nav-scroll ms-auto">

          <!-- Nuestro Objetivo -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" 
               style="color: #ffffff; font-weight: 500;">Nuestro Objetivo</a>
          </li>

          <!-- Contactanos -->
          <li class="nav-item">
            <a class="nav-link" href="contact-us.html" 
               style="color: #ffffff; font-weight: 500;">Contáctanos</a>
          </li>

        </ul>
      </div>
      <!-- Main navbar END -->

      <!-- Dark mode toggle -->
      <div class="dropdown d-none d-sm-block">
        <button class="btn btn-light btn-sm lh-1 p-2 mb-0" id="bd-theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                style="background-color:#7a99a6; border:none; color:#fff;">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" 
               fill="currentColor" 
               class="bi bi-circle-half fa-fw theme-icon-active" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
          </svg>
        </button>

        <ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
          <li class="mb-1">
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
              Light
            </button>
          </li>

          <li class="mb-1">
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
              Dark
            </button>
          </li>

          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active text-white" data-bs-theme-value="auto"
                    style="background-color:#2f9299;">
              Auto
            </button>
          </li>
        </ul>
      </div>

      <!-- Register Button -->
      <div class="navbar-nav ms-3 d-none d-sm-block">
        <a class="btn btn-sm mb-0"
           href="/usuarios/registrarse"
           style="background-color: #2f9299; color:white; font-weight:600; border:none;">
          Regístrate
        </a>
      </div>

      <!-- Login Button -->
      <div class="navbar-nav ms-3 d-none d-sm-block">
        <a href="/usuarios/login" 
           class="btn btn-sm mb-0"
           style="background-color: #255366; color:white; font-weight:600; border:none;">
          Iniciar Sesión
        </a>
      </div>

    </div>
  </nav>

</header>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}
{% endif %}
